body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.archive-btn {
  background: no-repeat;
  width: auto;
  height: auto;
  border : none;
  color : transparent;
}

.archive-img {
  width: 30px;
  height: auto;
}

.col-align-center {
  text-align: center !important;
}

.circular-progress {
  left: 50% !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}